  /* Created by: Kaitlyn Ip
 * Created on: Feb 25 2022
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: lightsteelblue;
}

h1 {
  background-color: #7487b5;
  color: hsl(255°, 255%, 255%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #d8e2f8;
}
